.star {
    height: 30px;
    width: 30px;

}

@media screen and (max-width: 992px){
    .star {
        height: 25px;
        width: 25px;
    
    }

}


@media screen and (max-width: 768px){
    .star {
        height: 20px;
        width: 20px;
    
    }

}

