.bloc__about {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom : 150px

}

.section__about {
    
    display: flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
    gap : 30px
}

@media screen and (max-width: 992px){
    .section__about {
        width: 93%;
    }

}

@media screen and (max-width: 768px){
    .section__about {
        width: 100%;
    }

}