html {
  margin: 0;
  padding: 0;
}

body {
  margin: 40px auto 0 auto;
  font-family: "Montserrat", sans-serif;
  color: #FF6060;
  font-weight: 500;
  max-width: 1440px;
  padding: 0;
}

#root {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.bannerHomeOrAbout {
  position: relative;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 30px;
}
.bannerHomeOrAbout__Img {
  width: 100%;
  height: 100%;
  filter: brightness(0.6);
  border-radius: 25px;
  object-fit: cover;
}
.bannerHomeOrAbout__Img--home {
  width: 100%;
  height: 100%;
  filter: brightness(0.6);
  border-radius: 25px;
  object-fit: cover;
}
.bannerHomeOrAbout__text {
  z-index: 1;
  position: absolute;
  justify-content: center;
  display: flex;
  align-items: center;
  font-weight: 500;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 0%;
  bottom: 0;
  color: #f2f2f2;
  width: 80%;
  font-size: 48px;
  font-style: normal;
}
.bannerHomeOrAbout__Smarphone {
  display: none;
}

@media screen and (max-width: 992px) {
  .bannerHomeOrAbout {
    margin-top: 20px;
  }
  .bannerHomeOrAbout__Img {
    border-radius: 20px;
  }
  .bannerHomeOrAbout__Img--home {
    border-radius: 20px;
    min-height: 240px;
  }
  .bannerHomeOrAbout__text {
    font-size: 34px;
  }
}
@media screen and (max-width: 768px) {
  .bannerHomeOrAbout {
    margin-top: 10px;
  }
  .bannerHomeOrAbout__Img {
    border-radius: 10px;
    min-height: 110px;
  }
  .bannerHomeOrAbout__Img--home {
    min-height: 223px;
    border-radius: 10px;
  }
  .bannerHomeOrAbout__text {
    font-size: 24px;
    width: 95%;
    height: 100%;
    justify-content: flex-start;
  }
  .bannerHomeOrAbout__textComputer {
    display: none;
  }
  .bannerHomeOrAbout__Smarphone {
    display: block;
  }
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto 0 auto;
}

@media screen and (max-width: 992px) {
  .logo-header {
    width: 70%;
  }
}
@media screen and (max-width: 768px) {
  .logo-header {
    width: 60%;
  }
}
.navigation {
  display: flex;
  justify-content: space-between;
  width: 17%;
  font-size: 24px;
}
.navigation__text--change {
  text-decoration: none;
  color: #ff6060;
}
.navigation__active--change {
  color: #ff6060;
}

@media screen and (max-width: 1200px) {
  .navigation {
    width: 22%;
  }
}
@media screen and (max-width: 992px) {
  .navigation {
    width: 25%;
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .navigation {
    width: 28%;
    font-size: 16px;
  }
  .navigation__text--change {
    text-transform: uppercase;
  }
  .navigation__active--change {
    text-transform: uppercase;
  }
}
@media screen and (max-width: 690px) {
  .navigation {
    width: 35%;
  }
}
@media screen and (max-width: 550px) {
  .navigation {
    width: 45%;
  }
}
.sectionHome {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 60px;
  justify-items: center;
  border-radius: 25px;
  background: #f6f6f6;
  padding: 50px;
  margin-bottom: 50px;
}

@media screen and (max-width: 992px) {
  .sectionHome {
    grid-template-columns: repeat(2, auto);
    border-radius: 20px;
  }
}
@media screen and (max-width: 768px) {
  .sectionHome {
    background: #ffffff;
    grid-template-columns: repeat(1, auto);
    grid-gap: 20px;
    padding: 0;
  }
}
.oneCart {
  position: relative;
  display: block;
  transition: 0.3s;
}
.oneCart:hover {
  transform: scale(1.1);
}
.oneCart--title {
  position: absolute;
  left: 20px;
  bottom: 23px;
  color: #ffffff;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
}
.oneCart--img {
  width: 100%;
  height: 340px;
  position: relative;
  border-radius: 10px;
  object-fit: cover;
}

@media screen and (max-width: 1200px) {
  .oneCart--img {
    height: 290px;
  }
}
@media screen and (max-width: 768px) {
  .oneCart {
    width: 100%;
  }
  .oneCart--img {
    height: 255px;
  }
}
.pageError {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pageError--number {
  font-size: 288px;
  font-weight: 700;
  margin: 150px 0 0 0;
}
.pageError--text {
  font-size: 36px;
  font-weight: 500;
  margin: 0 0 170px 0;
  text-align: center;
}
.pageError--toHome {
  display: block;
  font-size: 18px;
  color: #ff6060;
  margin-bottom: 150px;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .pageError--number {
    font-size: 200px;
  }
  .pageError--text {
    font-size: 26px;
  }
}
@media screen and (max-width: 768px) {
  .pageError--number {
    font-size: 96px;
  }
  .pageError--text {
    font-size: 18px;
    margin-bottom: 140px;
  }
  .pageError--toHome {
    font-size: 14px;
  }
}
.footer__block {
  background: #000000;
  width: 100%;
  height: 210px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer__block--text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .footer__block--text {
    font-size: 15px;
  }
}
.lmj__cart {
  width: 100%;
}
.lmj__cart--title {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 24px;
  height: 45px;
  background-color: #ff6060;
  color: #ffffff;
  border-radius: 5px;
  position: relative;
}
.lmj__cart--text {
  font-size: 24px;
  margin: 0;
  padding: 30px 15px 15px 15px;
  background-color: #f7f7f7;
  border-radius: 5px;
}

.title__about {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
}

.arrow__about {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}

.arrow_top {
  rotate: 180deg;
}

@media screen and (max-width: 992px) {
  .lmj__cart--title {
    font-size: 20px;
  }
  .lmj__cart--text {
    font-size: 20px;
  }
  .arrow__about {
    right: 15px;
  }
}
@media screen and (max-width: 768px) {
  .lmj__cart--title {
    font-size: 16px;
    height: 35px;
    font-weight: 400;
  }
  .lmj__cart--text {
    font-size: 16px;
    padding: 15px;
    font-weight: 400;
  }
  .lmj__cart .arrow__about img {
    width: 20px;
  }
}
.main__lodging {
  position: relative;
}
.main__lodging--arrow-left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}
.main__lodging--arrow-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}

.lodging__picture {
  width: 100%;
  object-fit: cover;
  height: 415px;
  border-radius: 25px;
}
.lodging__picture--number {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 18px;
  color: #f2f2f2;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
}

.prevImg {
  rotate: 90deg;
  width: 45px;
}

.nextImg {
  rotate: -90deg;
  width: 45px;
}

@media screen and (max-width: 992px) {
  .lodging__picture {
    height: 300px;
    border-radius: 20px;
  }
  .prevImg {
    width: 30px;
  }
  .nextImg {
    width: 30px;
  }
}
@media screen and (max-width: 992px) {
  .lodging__picture {
    height: 255px;
    border-radius: 10px;
  }
  .prevImg {
    width: 25px;
  }
  .nextImg {
    width: 25px;
  }
}
.pageHome {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.block__error {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.bloc__about {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
}

.section__about {
  display: flex;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

@media screen and (max-width: 992px) {
  .section__about {
    width: 93%;
  }
}
@media screen and (max-width: 768px) {
  .section__about {
    width: 100%;
  }
}
.lodging__home {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.bloc__colapse__lodging {
  display: flex;
  gap: 70px;
  width: 100%;
}
.bloc__colapse__lodging .lmj__cart--title {
  font-size: 18px;
}
.bloc__colapse__lodging .lmj__cart--text {
  font-size: 18px;
}

.lodging-info__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.lodging-info__list li {
  margin-bottom: 3px;
}

@media screen and (max-width: 992px) {
  .bloc__colapse__lodging {
    flex-direction: column;
    gap: 20;
  }
}

/*# sourceMappingURL=index.css.map */
